.home {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .home {
    display: block;
  }
}

.left {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .left {
    width: 40%;
  }
}

.skills-list {
  width: 100%;
  order: 3;
}
@media only screen and (min-width: 768px) {
  .skills-list {
    width: 60%;
    float: right;
  }
}
.skills-list h2 {
  border-bottom: 1px solid #7f838b;
}
.skills-list .skills-wrap {
  padding: 0 10px;
}
.skills-list .skills-wrap .row {
  border-bottom: 1px solid #d2d6df;
}
@media only screen and (min-width: 768px) {
  .skills-list .skills-wrap .row {
    border-bottom: none;
    display: flex;
    align-items: center;
  }
}
.skills-list .skills-wrap .row:first-child {
  margin: 5px 0;
  display: none;
}
@media only screen and (min-width: 768px) {
  .skills-list .skills-wrap .row:first-child {
    display: flex;
  }
}
.skills-list .skills-wrap .row p {
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .skills-list .skills-wrap .row p {
    width: 33%;
  }
}
.skills-list .skills-wrap .row .name {
  float: left;
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .skills-list .skills-wrap .row .name {
    float: none;
    margin-top: 0;
  }
}
.skills-list .skills-wrap .row .year {
  text-align: right;
  font-size: 14px;
  margin: 5px 0;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .skills-list .skills-wrap .row .year {
    text-align: left;
    font-size: initial;
    width: 33%;
  }
}
@media only screen and (min-width: 768px) {
  .skills-list .skills-wrap .row .year span {
    display: none;
  }
}
.skills-list .skills-wrap .row .bar {
  width: 100px;
  border: 2px solid #8691a6;
  border-radius: 6px;
  box-sizing: content-box;
  margin: 0 0 10px auto;
}
@media only screen and (min-width: 768px) {
  .skills-list .skills-wrap .row .bar {
    margin: 0;
  }
}
.skills-list .skills-wrap .row .bar span {
  display: block;
  height: 10px;
  background-color: #283143;
  border-radius: 5px;
}

.basic-data {
  order: 1;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .basic-data {
    align-items: center;
    flex-direction: row;
  }
}
.basic-data img {
  width: 50%;
  padding: 5%;
  align-self: center;
}
@media only screen and (min-width: 768px) {
  .basic-data img {
    order: 1;
  }
}
@media only screen and (min-width: 768px) {
  .basic-data .full-name {
    order: 2;
  }
}
.basic-data .full-name h2 {
  margin: 0;
  font-weight: 700;
}

.contact {
  padding: 2% 5%;
  order: 2;
}
.contact li {
  list-style-type: none;
  padding: 3px 0;
}
.contact li i {
  color: #7f838b;
  margin-right: 20px;
}
.contact li a {
  text-decoration: none;
  color: #000;
}
.contact li a:hover {
  color: #7f838b;
}

.graph {
  order: 4;
}
.graph h2 {
  border-bottom: 1px solid #7f838b;
}
@media only screen and (min-width: 768px) {
  .graph h2 {
    margin: 0 30px 0 11%;
  }
}

.skills {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .skills {
    flex-direction: row;
  }
}
.skills .skills-list {
  order: 1;
}
.skills .skills-list h2 {
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .skills .skills-list h2 {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .skills .skills-list {
    width: 50%;
    float: none;
  }
}
.skills .skills-list .row {
  position: relative;
}
.skills .skills-list .row:first-child p:nth-child(3) {
  width: 100px;
}
.skills .skills-list .row:first-child p:nth-child(4) {
  text-align: center;
}
.skills .skills-list .row p {
  width: 25%;
}
.skills .skills-list .row .year {
  width: 100px;
  margin-right: 45px;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .skills .skills-list .row .year {
    width: 25%;
    margin-right: 0;
    margin-left: 0;
  }
}
.skills .skills-list .row .bar {
  margin-right: 45px;
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .skills .skills-list .row .bar {
    margin-right: 0;
    margin-top: 0;
  }
}
.skills .skills-list .row .cta {
  border: none;
  text-align: center;
  width: 10%;
  position: absolute;
  top: -5px;
  right: 0;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .skills .skills-list .row .cta {
    position: static;
    display: block;
    width: 25%;
  }
}
.skills .skills-list .row .cta i {
  margin: 5px;
  cursor: pointer;
  color: #283143;
}
.skills .skill-form {
  order: 2;
}
@media only screen and (min-width: 768px) {
  .skills .skill-form {
    width: 45%;
  }
}
.skills .skill-form form {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .skills .skill-form form div {
    width: 45%;
    display: flex;
    flex-direction: column;
  }
}
.skills .skill-form form div:first-child {
  order: 1;
}
.skills .skill-form form div:nth-child(2) {
  order: 3;
}
.skills .skill-form form div:nth-child(3) {
  order: 2;
}
.skills .skill-form form div label {
  font-size: 12px;
}
.skills .skill-form form div input,
.skills .skill-form form div select {
  font-size: 15px;
  padding: 5px;
  margin: 0 10% 10% 0;
}
.skills button {
  padding: 10px 20px;
  color: #fff;
  background-color: #283143;
  border: none;
  cursor: pointer;
}

.static {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .static {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .static .text {
    width: 50%;
    padding-top: 4%;
  }
}
.static .text:first-child {
  order: 1;
}
.static .text:nth-child(2) {
  order: 3;
}
.static .text h1 {
  margin-bottom: 20px;
}
.static .gallery {
  order: 2;
}
@media only screen and (min-width: 768px) {
  .static .gallery {
    width: 45%;
    float: right;
    margin-top: 4%;
  }
}
.static .gallery h1 {
  margin-bottom: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.main {
  flex-grow: 1;
}

img {
  max-width: 100%;
}

h2 {
  margin: 30px 0 15px;
  font-weight: 600;
}

header,
footer {
  background-color: #283143;
  font-size: 12px;
  color: #fff;
}
header li,
footer li {
  list-style-type: none;
  display: inline-block;
  padding: 15px;
}
header a,
footer a {
  color: #fff;
  text-decoration: none;
}

header .nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
