.home {
    display: flex;
    flex-direction: column;

    @include breakpoint($tablet) {
        display: block;
    }
}

.left {
    width: 100%;

    @include breakpoint($tablet) {
        width: 40%;
    }
}

.skills-list {
    width: 100%;
    order: 3;

    @include breakpoint($tablet) {
        width: 60%;
        float: right;
    }

    .skills-wrap {

        .row {
            display: flex;
            align-items: center;

            &:first-child {
                margin: 5px 0;
            }

            p {
                width: 33%;
                margin-bottom: 10px;
            }

            div {
                width: 100px;
                height: 10px;
                border: 1px solid $navy;
                border-radius: 5px;

                span {
                    display: block;
                    height: 9px;
                    background-color: $navy;
                    border-radius: 5px;
                }
            }
        }
    }
}

.basic-data {
    order: 1;

    @include breakpoint($tablet) {
        display: flex;
        align-items: center;
    }

    img {
        width: 50%;
        padding: 5%;
    }
}

.contact {
    padding: 2% 5%;
    order: 2;
}

.graph {
    order: 4;

    h2 {
        margin-left: 13%;
    }
}