.home {

    @include breakpoint($tablet) {
        display: flex;
        flex-direction: column;
    }
}

.left {
    width: 40%;

    @include breakpoint($tablet) {
        width: 100%;
    }
}

.skills-list {
    width: 60%;
    border: 1px solid black;
    height: 350px;
    float: right;

    @include breakpoint($tablet) {
        float: none;
        order: 3;
        width: 100%;
    }
}

.basic-data {
    display: flex;
    align-items: center;

    @include breakpoint($tablet) {
        order: 1;
    }

    img {
        width: 50%;
        padding: 5%;
    }
}

.contact {
    padding: 2% 5%;

    @include breakpoint($tablet) {
        order: 2;
    }
}

.graph {
    padding: 2% 5%;

    @include breakpoint($tablet) {
        order: 4;
    }
}