.skills {

    .skills-list {
        float: none;
        width: 50%;

        .row {

            p {
                width: 25%;
            }

            .cta {
                border: none;
            }
        }
    }
}