.static {
    display: flex;
    flex-direction: column;

    @include breakpoint($tablet) {
        display: block;
    }

    .text {
        
        @include breakpoint($tablet) {
            width: 50%;
            padding-top: 4%;
        }

        &:first-child {
            order: 1;
        }

        &:nth-child(2) {
            order: 3;
        }
    
        h1 {
            margin-bottom: 20px;
        }
    }
    
    .gallery {
        order: 2;
    
        @include breakpoint($tablet) {
            width: 45%;
            float: right;
            margin-top: 4%;
        }
    
        h1 {
            margin-bottom: 20px;
        }
    }
}
