$white: #fff;
$black: #000;
$navy: #283143;
$navy-transparent: rgba(40, 49, 67, .88);
$gray: #7f838b;
$gray-blue: #8691a6;
$light-gray: #d2d6df;
$mobile: 425px;
$tablet: 768px;

@mixin breakpoint($width) {

    @media only screen and (min-width: #{$width}) {
        @content;
    }
}

@import 'header';
@import 'home';
@import 'skills';
@import 'static';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
	min-height: 100%;
	width: 100%;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px;
}

.main {
	flex-grow: 1;
}

img {
	max-width: 100%;
}

h2 {
	margin: 30px 0 15px;
	font-weight: 600;
}

header,
footer {
    background-color: $navy;
	font-size: 12px;
	color: $white;
}