$white: #fff;
$navy: #282c34;
$mobile: 425px;
$tablet: 768px;

@mixin breakpoint($width) {

    @media only screen and (max-width: #{$width}) {
        @content;
    }
}

@import 'home';
@import 'static';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
	min-height: 100%;
	width: 100%;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.main {
	flex-grow: 1;
}

img {
	max-width: 100%;
}

header,
footer {
    background-color: $navy;
    padding: 15px;
	font-size: 12px;
	color: $white;
	
	li {
		list-style-type: none;
		display: inline-block;
		padding: 15px;
	}
	
	a {
		color: $white;
		text-decoration: none;
	}
}

header {

	.nav-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}